In [41]:
import shareUtillities as sh
import pandas as pd

In [42]:
a,b = sh.downloadSymbolHistory('DANSKE.CPH', maxDate='2999-12-31', download=True)
#a

For DANSKE.CPH
Note: Downloading time series data from https://www.alphavantage.co/query

In [43]:

def saveDataframe(df, filename):
    df.to_pickle("./"+filename)

def loadDataframe(filename):
    df = pd.read_pickle("./"+filename)
    return df

In [44]:
import pandas as pd
symbols = ['GOOGL','AAPL']
volumes = [10,12]
prices  = [1023,827]
dates   = [pd.Timestamp('2018-03-10 09:00'),pd.Timestamp('2018-03-10 09:00')]
actions = ['Buy','Buy']
portfolio = pd.DataFrame(
    {'symbol': symbols,
     'volume': volumes,
     'price' : prices,
     'date'  :dates,
     'action':actions
    })
portfolio['dt']=portfolio['date'].dt.date
saveDataframe(portfolio, 'portfolio.pkl')

In [45]:
portfolio = loadDataframe('portfolio.pkl')
portfolio

  action                date  price symbol  volume          dt
0    Buy 2018-03-10 09:00:00   1023  GOOGL      10  2018-03-10
1    Buy 2018-03-10 09:00:00    827   AAPL      12  2018-03-10

In [111]:
def register(symbols,volumes, prices,dates,actions):
    pf = pd.DataFrame(
    {'symbol': symbols,
     'volume': volumes,
     'price' : prices,
     'date'  :dates,
     'action':actions
    })
    pf['dt']=pf['date'].dt.date
    df = loadDataframe('portfolio.pkl')
    df2=df.append(pf)
    saveDataframe(df2, 'portfolio.pkl')

register(['GOOGL'],[10],[1023],[pd.Timestamp('2018-03-10 09:00')],['Buy'])
loadDataframe('portfolio.pkl')


def getTradingDays(symbol):
    data, errorCode = sh.downloadSymbolHistory(symbol,'2999-12-31', False)
    return data.index.tolist()
#getTradingDays('NLFSK.CPH')
#data

In [118]:
# Downloading closing prices
from pandasql import sqldf
uniqueSymbols = sqldf('select symbol from portfolio order by symbol')['symbol']
for symbol in uniqueSymbols:
    symbolactions = sqldf('select date as Date, volume, price from portfolio where symbol="'+symbol+'"')
    data,errorCode=sh.downloadSymbolHistory(symbol, maxDate='2999-12-31', download=False)
    portfolioDays = pd.merge(data, symbolactions, on='Date', how='outer').sort_values(by='Date')
    portfolioDays["volume"].fillna(0, inplace = True)
    portfolioDays['rollingVolume'] = portfolioDays['volume'].cumsum(axis = 0)
portfolioDays.query('Date > "2018-03-01"')

Note: Loaded persisted time series data
Note: Loaded persisted time series data

,Date,Close,Relative,volume,price,rollingVolume
3407,2018-03-02,1084.1400,0.011742,0.0,NaN,0.0
3408,2018-03-05,1094.7600,0.009701,0.0,NaN,0.0
3409,2018-03-06,1100.9000,0.005577,0.0,NaN,0.0
3410,2018-03-07,1115.0400,0.012681,0.0,NaN,0.0
3411,2018-03-08,1129.3800,0.012697,0.0,NaN,0.0
3412,2018-03-09,1160.8400,0.027101,0.0,NaN,0.0
3607,2018-03-10 09:00:00.000000,NaN,NaN,10.0,1023.0,10.0
3413,2018-03-12,1165.9300,0.004366,0.0,NaN,10.0
3414,2018-03-13,1139.9100,-0.022826,0.0,NaN,10.0
3415,2018-03-14,1148.8900,0.007816,0.0,NaN,10.0
3416,2018-03-15,1150.6100,0.001495,0.0,NaN,10.0
3417,2018-03-16,1134.4200,-0.014272,0.0,NaN,10.0
3418,2018-03-19,1100.0700,-0.031225,0.0,NaN,10.0
3419,2018-03-20,1095.8000,-0.003897,0.0,NaN,10.0
3420,2018-03-21,1094.0000,-0.001645,0.0,NaN,10.0
3421,2018-03-22,1053.1500,-0.038788,0.0,NaN,10.0
3422,2018-03-23,1026.5500,-0.025912,0.0,NaN,10.0
3423,2018-03-26,1054.0900,0.026127,0.0,NaN,10.0
3424,2018-03-27,1006.9400,-0.046825,0.0,NaN,10.0
3425,2018-03-28,1005.1800,-0.001751,0.0,NaN,10.0
3426,2018-03-29,1037.1400,0.030816,0.0,NaN,10.0
3427,2018-04-02,1012.6300,-0.024204,0.0,NaN,10.0
3428,2018-04-03,1018.6800,0.005939,0.0,NaN,10.0
3429,2018-04-04,1029.7100,0.010712,0.0,NaN,10.0
3430,2018-04-05,1032.6400,0.002837,0.0,NaN,10.0
3431,2018-04-06,1009.9500,-0.022466,0.0,NaN,10.0
3432,2018-04-09,1020.0900,0.009940,0.0,NaN,10.0
3433,2018-04-10,1036.5000,0.015832,0.0,NaN,10.0
3434,2018-04-11,1025.0600,-0.011160,0.0,NaN,10.0
3435,2018-04-12,1037.2900,0.011790,0.0,NaN,10.0
...,...,...,...,...,...,...
3577,2018-11-01,1085.9800,-0.004236,0.0,NaN,10.0
3578,2018-11-02,1071.4900,-0.013523,0.0,NaN,10.0
3579,2018-11-05,1055.7300,-0.014928,0.0,NaN,10.0
3580,2018-11-06,1069.5700,0.012940,0.0,NaN,10.0
3581,2018-11-07,1108.2400,0.034893,0.0,NaN,10.0
3582,2018-11-08,1094.6300,-0.012433,0.0,NaN,10.0
3583,2018-11-09,1077.0200,-0.016351,0.0,NaN,10.0
3584,2018-11-12,1049.3600,-0.026359,0.0,NaN,10.0
3585,2018-11-13,1047.9700,-0.001326,0.0,NaN,10.0
3586,2018-11-14,1054.5800,0.006268,0.0,NaN,10.0
3587,2018-11-15,1071.0500,0.015377,0.0,NaN,10.0
3588,2018-11-16,1068.2700,-0.002602,0.0,NaN,10.0
3589,2018-11-19,1027.4200,-0.039760,0.0,NaN,10.0
3590,2018-11-20,1030.4500,0.002940,0.0,NaN,10.0
3591,2018-11-21,1043.4300,0.012440,0.0,NaN,10.0
3592,2018-11-23,1030.1000,-0.012940,0.0,NaN,10.0
3593,2018-11-26,1055.9400,0.024471,0.0,NaN,10.0
3594,2018-11-27,1052.2800,-0.003478,0.0,NaN,10.0
3595,2018-11-28,1091.7900,0.036188,0.0,NaN,10.0
3596,2018-11-29,1094.5800,0.002549,0.0,NaN,10.0
3597,2018-11-30,1109.6500,0.013581,0.0,NaN,10.0
3598,2018-12-03,1116.3600,0.006011,0.0,NaN,10.0
3599,2018-12-04,1062.4700,-0.050721,0.0,NaN,10.0
3600,2018-12-06,1078.0800,0.014479,0.0,NaN,10.0
3601,2018-12-07,1046.5800,-0.030098,0.0,NaN,10.0
3602,2018-12-10,1053.1800,0.006267,0.0,NaN,10.0
3603,2018-12-11,1061.6500,0.007978,0.0,NaN,10.0
3604,2018-12-12,1073.7300,0.011251,0.0,NaN,10.0
3605,2018-12-13,1073.5400,-0.000177,0.0,NaN,10.0
3606,2018-12-14,1051.7100,-0.020757,0.0,NaN,10.0

In [7]:
df

  action                date  price symbol  volume
0    Buy 2018-03-10 09:00:00   1023  GOOGL      10
1    Buy 2018-03-10 09:00:00    827   AAPL      12

In [8]:
a

                AAPL  Relative
Date
1998-01-02   16.2500  0.000000
1998-01-05   15.8800 -0.023300
1998-01-06   18.9400  0.161563
1998-01-07   17.5000 -0.082286
1998-01-08   18.1900  0.037933
1998-01-09   18.1900  0.000000
1998-01-12   18.2500  0.003288
1998-01-13   19.5000  0.064103
1998-01-14   19.7500  0.012658
1998-01-15   19.1900 -0.029182
1998-01-16   18.8100 -0.020202
1998-01-20   19.0600  0.013116
1998-01-21   18.9100 -0.007932
1998-01-22   19.2500  0.017662
1998-01-23   19.5000  0.012821
1998-01-26   19.4400 -0.003086
1998-01-27   19.1200 -0.016736
1998-01-28   19.1900  0.003648
1998-01-29   18.5000 -0.037297
1998-01-30   18.3100 -0.010377
1998-02-02   17.6900 -0.035048
1998-02-03   18.3100  0.033861
1998-02-04   18.2500 -0.003288
1998-02-05   18.3100  0.003277
1998-02-06   18.5000  0.010270
1998-02-09   19.1900  0.035956
1998-02-10   19.4400  0.012860
1998-02-11   19.0000 -0.023158
1998-02-12   19.3700  0.019102
1998-02-13   19.5000  0.006667
...              ...       ...
2018-10-23  222.7300  0.009339
2018-10-24  215.0900 -0.035520
2018-10-25  219.8000  0.021429
2018-10-26  216.3000 -0.016181
2018-10-29  212.2400 -0.019129
2018-10-30  213.3000  0.004970
2018-10-31  218.8600  0.025404
2018-11-01  222.2200  0.015120
2018-11-02  207.4800 -0.071043
2018-11-05  201.5900 -0.029218
2018-11-06  203.7700  0.010698
2018-11-07  209.9500  0.029436
2018-11-08  208.4900 -0.007003
2018-11-09  204.4700 -0.019661
2018-11-12  194.1700 -0.053046
2018-11-13  192.2300 -0.010092
2018-11-14  186.8000 -0.029069
2018-11-15  191.4100  0.024084
2018-11-16  193.5300  0.010954
2018-11-19  185.8600 -0.041268
2018-11-20  176.9800 -0.050175
2018-11-21  176.7800 -0.001131
2018-11-23  172.2900 -0.026061
2018-11-26  174.6200  0.013343
2018-11-27  174.2400 -0.002181
2018-11-28  180.9400  0.037029
2018-11-29  179.5500 -0.007742
2018-11-30  178.5800 -0.005432
2018-12-03  184.8200  0.033763
2018-12-04  176.6900 -0.046013

[5266 rows x 2 columns]